{% load static %}
{% load crispy_forms_tags %}

<section class="section">
    <div class="row align-items-top d-flex justify-content-start">
        <!-- Card with an image on top -->
        {% for article in articles %}
        <div class="col-lg-4">
            <a href="{% url 'read-article' article.id %}">
                <div class="card">
                    <div class="top-card" style="height: 200px;">
                        {% if article.cover %}
                        <img src="{{ article.cover.url }}" class="card-img-top img-responsive" alt=""
                             style="height: 100%; width: 100%; object-fit: cover;"
                        >
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h6 class="mt-2 p-2">{{ article.title}}</h6>
                        <p class="fw-semibold"><span class="bi bi-clock m-2"></span> {{ article.age }}</p>
                    </div>
<!--                    {% if matiere.enseigne_par %}-->
                    <div class="card-footer">
                        <p>
                            <i class="ri-user-3-line"></i>
<!--                            {% if matiere.enseigne_par.all|length >= 0 %}-->
<!--                            {% for enseignant in matiere.enseigne_par %}-->
                            <span></span> |
<!--                            {% endfor %}-->
<!--                            {% endif %}-->
                        </p>
                    </div>
<!--                    {% endif %}-->
                </div><!-- End Card with an image on top -->
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if articles.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">
          <i class="bi-arrow-bar-left"></i>
      </a></li>
      <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">
          <i class="ri-arrow-left-s-line"></i>
      </a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">
          <i class="bi-arrow-bar-left"></i>
      </a></li>
      <li class="page-item disabled"><a class="page-link">
          <i class="ri-arrow-left-s-line"></i>
      </a></li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link">Page {{ articles.number }} / {{ articles.paginator.num_pages }}</span>
    </li>

    {% if articles.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">
        <i class="ri-arrow-right-s-line"></i>
      </a></li>
      <li class="page-item"><a class="page-link" href="?page={{ articles.paginator.num_pages }}">
          <i class="bi-arrow-bar-right"></i>
      </a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">
          <i class="ri-arrow-right-s-line"></i>
      </a></li>
      <li class="page-item disabled"><a class="page-link">
          <i class="bi-arrow-bar-right"></i>
      </a></li>
    {% endif %}
  </ul>
</nav>
