{% extends "../../pgpul_admin/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="section">
    <div class="row">
        <div class="col-12">
            <!-- Retour a la table des matieres -->
            <a href="{% url 'sommaire_par_matiere' id_matiere %}">
                <i class="ri-arrow-go-back-line"></i>
            </a>
            <div class="container mt-5">
            <h1 class="text-uppercase mb-4">{{ cours.titre }}</h1>

                {% autoescape off %}
                    {{ cours.contenu }}
                {% endautoescape %}
            </div>
        </div>

    </div>

</section>

{% endblock content %}
