{% extends "../../pgpul_admin/base.html" %}
{% block custom_header %}
<script src="https://cdn.tiny.cloud/1/n0ati5nj5n82d0xtpuzzbk3armgy8ldroeiqtxpvpjcsanfc"></script>
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="section">
    <div class="row align-items-top d-flex justify-content-start">
        <h4 class="mb-4">Département: <span class="fw-bold text-primary">{{ departement }}</span></h4>

        <!-- Card with an image on top -->
        {% for matiere in list_matieres %}
        <div class="col-lg-3">
            <div class="card">
                <div class="top-card" style="height: 100px;">
                    <img src="{% static 'assets/img/card.jpg' %}" class="card-img-top img-responsive" alt=""
                         style="height: 100%; width: 100%; object-fit: cover;"
                    >
                </div>
                <div class="card-body">
                    <h6 class="fw-bold mt-2">{{ matiere.nom_mat }}</h6>
                    <p class="card-text">
                        Some quick example text to build on
                    </p>
                </div>
                {% if matiere.enseigne_par %}
                <div class="card-footer">
                    <p>
                        <i class="ri-user-3-line"></i>
                        {% if matiere.enseigne_par.all|length >= 0  %}
                            {% for enseignant in matiere.enseigne_par %}
                                <span>{{ enseignant }}</span> |
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
                {% endif %}
            </div><!-- End Card with an image on top -->
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function () {
        <!-- Get liste Enseignants -->
<!--        $.ajax({-->
<!--            url: "/etudiant/liste/",-->
<!--            dataType: "json",-->
<!--            type: "GET",-->
<!--            success: function (data) {-->

<!--                var tab_etudiants = $("#tab_etudiants tbody");-->
<!--                $.each(data.list_etudiants, function(index, item){-->
<!--                    tab_etudiants.append(`-->
<!--                    <tr>-->
<!--                        <td scope="row">${index += 1}</td>-->
<!--                        <td>${item.matricule}</td>-->
<!--                        <td>${item.last_name} ${item.first_name}</td>-->
<!--                        <td>${item.tel_etd}</td>-->
<!--                        <td>${item.genre_etd}</td>-->
<!--                        <td>${item.departement_etd}</td>-->
<!--                    </tr>-->
<!--                    `)-->
<!--                })-->
<!--            },-->
<!--        });-->

<!--        Soumission du formulaire d'enregistrement d'un nouveau Etudiant-->
        $('#form_cou').submit(function (e) {
            e.preventDefault();
            return;
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (data) {
                    alert("Etudiant créé avec succès");
                    $("#form_cours")[0].reset();
                }
            });
        });
    });
</script>

<!-- Initialisation de TinyMCE -->
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
    });
</script>

{% endblock %}