{% extends "../../pgpul_admin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="section">
    <div class="row">
<!--        <h4 class="mb-4">Département: <span class="fw-bold text-primary">{{ departement }}</span></h4>-->

        <div class="col-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ matiere }}</h5>

              <!-- Default Accordion -->
                {% for sommaire in sommaire_et_cours %}
              <div class="accordion" id="accordion{{sommaire.sommaire}}">

                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="{{sommaire.sommaire}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{sommaire.sommaire}}" aria-expanded="true" aria-controls="collapseOne{{sommaire.sommaire}}">
                      {{sommaire.sommaire_titre}}
                    </button>
                  </h2>
                  <div id="collapseOne{{sommaire.sommaire}}" class="accordion-collapse collapse" aria-labelledby="{{sommaire.sommaire}}" data-bs-parent="#accordion{{sommaire.sommaire}}">
                    <div class="accordion-body">
                        {% for cours in sommaire.titre_cours %}
                        <a href="#">
                            {{ cours.titre }}
                        </a>
                        {% endfor %}
                    </div>
                  </div>
                </div> <!-- End For -->

              </div><!-- End Default Accordion Example -->
{% endfor %}
            </div>
          </div>

        </div>
    </div>
</section>

{% endblock content %}
