{% extends "../../pgpul_admin/base.html" %}
{% block custom_header %}
    <script src="https://cdn.tiny.cloud/1/n0ati5nj5n82d0xtpuzzbk3armgy8ldroeiqtxpvpjcsanfc"></script>
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="section">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Création de la Table des matières</h5>

                    <!-- Accordion Table des matieres -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    Créer une nouvelle table des matières
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <form method="POST" action="{% url 'sommaire' %}" id="form_sommaire">
                                        {% csrf_token %}
                                        <div class="row mb-3">
                                            <label for="id_matiere" class="col-sm-2 col-form-label">Matière</label>
                                            <div class="col-sm-10">
                                                {{ form.matiere | as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end mb-2">
                                            <button type="button" id="add-title-field" class="btn btn-outline-info add-title-field">
                                                <i class="ri-add-circle-line"></i>
                                            </button>
                                        </div>
                                        <div class="row mb-3" id="title_group">
                                            <label for="id_titre" class="col-sm-2 col-form-label">Titre</label>
                                            <div class="col-sm-10">
                                                {{ form.titre | as_crispy_field }}
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Créer</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Liste des Matieres-->
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Liste des Enseignants</h5>

                    <!-- Table Enseignants -->
                    <table class="table table-striped" id="tab_etudiants">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Matricule</th>
                            <th scope="col">Nom et Prénom</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Département</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>

</section>

{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function () {
        $("#add-title-field").click(function () {
            var title_field = $("#title_group");
            var new_title_field = title_field.clone();
            title_field.val('');

            $("#title_group").after(new_title_field);
        });


        <!-- Get liste Enseignants -->
        $.ajax({
            url: "/etudiant/liste/",
            dataType: "json",
            type: "GET",
            success: function (data) {

                var tab_etudiants = $("#tab_etudiants tbody");
                $.each(data.list_etudiants, function(index, item){
                    tab_etudiants.append(`
                    <tr>
                        <td scope="row">${index += 1}</td>
                        <td>${item.matricule}</td>
                        <td>${item.last_name} ${item.first_name}</td>
                        <td>${item.tel_etd}</td>
                        <td>${item.genre_etd}</td>
                        <td>${item.departement_etd}</td>
                    </tr>
                    `)
                })
            },
        });

<!--        Soumission du formulaire de creation d'un nouveau Sommaire-->
        $('#form_sommaire').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (data) {
                    console.log(data);
                    alert(data.msg);
                    $(".titre").val("");
                }
            });
        });
    });
</script>

{% endblock %}