{% extends "../../pgpul_admin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ajouter un support de cours</h5>
            {% if messages %}
                {% for msg in messages %}
                <div id="msg" class="alert {{ msg.tags}} col-12 col-md-8" role="alert">
                  {{ msg }}
                </div>
                {% endfor %}
            {% endif %}
            <!-- Accordion without outline borders -->
            <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                            Support de cours
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                         data-bs-parent="#accordionFlushExample">
                        <!-- Create Department -->
                        <h5 class="card-title lh-base">Ajouter un support de cours</h5>
                        <form method="POST" action="{{ support_cours }}" class="row g-3" enctype="multipart/form-data" id="support_cours_form">
                            {% csrf_token %}

                            <div class="col-md-4">
                                <label for="matiere_support" class="form-label">Choisissez la matière</label>
                                <div class="col-sm-12">

                                <select class="form-select" name="matiere_support" aria-label="Default select example" id="matiere_support">
                                  <option>Selectionnez une matière</option>
                                    {% for matiere in matieres %}
                                  <option value="{{ matiere.id }}">{{ matiere.nom_mat }}</option>
                                  {% endfor %}
                                </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="id_designation_support" class="form-label">Selectionnez un fichier pdf</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control" name="designation_support" class="form-control" id="id_designation_support" required="">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 position-md-absolute top-md-0 mt-md-5 mb-3 end-md-0 translate-md-middle-y">
                                <button class="btn btn-primary" type="submit">Ajouter</button>
                            </div>
                        </form>
                        <!-- End Create Department -->
                    </div>
                </div>

            </div><!-- End Accordion without outline borders -->

        </div>
    </div>
</div>
<!-- Tableaux des enregistrements -->
<div class="col-lg-10">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Les Matières</h5>

      <!-- Table Matieres -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matière</th>
            <th scope="col">Support</th>
            <th scope="col">Lire</th>
          </tr>
        </thead>
        <tbody>
            {% for support in supports %}
            <tr>
                <td></td>
                <td>{{ support.matiere_support }}</td>
                <td style="word-break: break-all !important">
                    {{ support.filename }}
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info">
                        <i class="ri-book-open-line"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <!-- End Table Matieres -->
    </div>
  </div>
</div>

<!-- End Tableaux des enregistrements -->

{% endblock %}

{% block custom_js %}
    <script>
        setTimeout(function(){
          if($("#msg").length > 0){
            $("#msg").remove()
          }
          }, 3000)
    </script>
{% endblock %}