{% extends "../../pgpul_admin/base.html" %}
{% load static %}
{% block content %}
  <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-10 m-auto">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Enseignants</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person-vcard"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ nb_enseigants }}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Etudiants Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Etudiants</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person-workspace"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ nb_etudiants }}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Etudiants Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Départements</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-collection"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ nb_departement }}</h6>
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <div class="col-xxl-4 col-xl-12">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Facultés</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-columns"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ nb_facultes }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Matieres Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Matières</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-feather"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ nb_matieres }}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Matieres Card -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>
{% endblock %}