{% extends "../../pgpul_admin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-10">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Créer une matière</h5>

      <!-- Accordion without outline borders -->
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Nouvelle matière
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <!-- Horizontal Form -->
              <form method="POST" action="{% url 'matiere' %}" id="mat_form">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="id_nom_mat" class="col-sm-2 col-form-label"
                    >Matière</label
                  >
                  <div class="col-sm-10">
                    {{ form.nom_mat | as_crispy_field }}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="id_classe_mat" class="col-sm-2 col-form-label"
                    >Classe</label
                  >
                  <div class="col-sm-10">
                    {{ form.classe_mat | as_crispy_field }}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="id_dept_mat" class="col-sm-2 col-form-label"
                    >Département</label
                  >
                  <div class="col-sm-10">
                    {{ form.dept_mat | as_crispy_field }}
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary px-5">
                    Créer
                  </button>
                  <button type="reset" class="btn btn-secondary">
                    Annuler
                  </button>
                </div>
              </form>
              <!-- End Horizontal -->
            </div>
          </div>
        </div>
         <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Attribuer une matière
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <!-- Horizontal Form -->
              <form method="POST" action="{% url 'matiere' %}" id="form_attr_mat">
                {% csrf_token %}
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Departements</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" id="depart_select">
                      <option value="-1">Selectionnez un departement</option>
                      {% for departement in departements %}
                      <option value="{{ departement.id }}">{{ departement.nom_dept }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Classes</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" id="classe_select">
                      <option value="-1">Selectionnez une classe</option>
                      {% for classe in liste_classes %}
                      <option value="{{ classe.id }}">{{ classe.designation }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Matières</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" id="mat_select">
                      <option>Selectionnez une matière</option>
                      {% for matiere in matieres %}
                      <option value="{{ matiere }}">{{ matiere }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Enseignants</label>
                  <div class="col-sm-10">
                    <select class="form-select" multiple aria-label="multiple select example" id="enseignant_select">
                      <option>-------------</option>
                    </select>
                  </div>
                </div>


                <div class="text-center">
                  <button type="submit" class="btn btn-primary px-5">
                    Créer
                  </button>
                  <button type="reset" class="btn btn-secondary">
                    Annuler
                  </button>
                </div>
              </form>
              <!-- End Horizontal -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Accordion without outline borders -->
    </div>
  </div>
</div>
<!-- Liste des Matieres -->
<div class="col-lg-10">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Les Matières</h5>

      <!-- Table Matieres -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matière</th>
            <th scope="col">Classe</th>
            <th scope="col">Département</th>
            <th scope="col">Enseignant</th>
          </tr>
        </thead>
        <tbody>
          {% for matiere in matieres %}
          <tr>
            <th scope="row">1</th>
            <td>{{ matiere.nom_mat }}</td>
            <td>{{ matiere.classe_mat }}</td>
            <td>{{ matiere.dept_mat }}</td>
            <td>{{ matiere.ensigne_par }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- End Table Matieres -->
    </div>
  </div>
</div>

{% endblock %} {% block custom_js %}
<script>
  $(document).ready(function () {
    $("#mat_form").submit(function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/matiere/",
        data: $(this).serialize(),
        success: function (data) {
          if (data.success) {
            console.log("avant alert");
            alert("Matiere créee avec succes");
            $("#mat_form")[0].reset();
            console.log("après alert et reset");
          } else if (data.exists.length > 0) {
            console.log(data.exists);
          }
        },
      });
    });

<!--    Get Matiere by Departement-->

    $("#depart_select").change(function () {
      const selectedDepartement = $(this).val();
      const selectedClasse = $("#classe_select").val();
      var url = "/matiere/get_departement/";
      if(selectedDepartement !== -1){
        $.ajax({
          url: url,
          data: {
              'departement': selectedDepartement,
              'classe': selectedClasse
          },
          dataType: 'json',
          success: function (data) {
            if(data.liste_matieres){
            console.log(data.liste_matieres);
              $('#mat_select').empty();  // Nettoyer les anciennes valeurs
              $.each(data.liste_matieres, function (key, value) {
                  $('#mat_select')
                      .append($('<option>', { value: key })
                      .text(value));
              });
            }else{
              $('#mat_select').empty();  // Nettoyer les anciennes valeurs
            }
            if(data.liste_enseignants.length > 0) {
              $('#enseignant_select').empty();  // Nettoyer les anciennes valeurs
              $.each(data.liste_enseignants, function (key, value) {
                  $('#enseignant_select')
                      .append($('<option>', { value: value.id })
                      .text(value.username));
              });
            }else{
              $('#enseignant_select').empty();  // Nettoyer les anciennes valeurs
            }
          },
          error: function (data) {
            console.log('Error:', data);
          }
        });
      }
    });

    $("#classe_select").change(function() {
      <!-- Relancer la recuperation des Martiere par departement a chaque changement de classe -->
      if($("#classe_select").val() != -1){
      if($("#depart_select").val() == -1){
        alert("Veuillez sélectionner un département");
        return;
      }
        $("#depart_select").trigger("change");
      }
    });
  });
</script>
{% endblock %}
