  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'dashmin' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      {% if user.groups.all.0.name == 'enseignant' %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Matieres</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'matiere' %}">
              <i class="bi bi-circle"></i><span>matières</span>
            </a>
          </li>
          <li>
            <a href="{% url 'support_cours' %}">
              <i class="bi bi-circle"></i><span>support de cours</span>
            </a>
          </li>
        </ul>
      </li><!-- End Cours Nav -->
      {% endif %}

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Etudiants</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          {% if user.groups.all.0.name == 'enseignant' %}
          <li>
            <a href="{% url 'etudiant' %}">
              <i class="bi bi-circle"></i><span>etudiants</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'liste_matieres' %}">
              <i class="bi bi-circle"></i><span>cours</span>
            </a>
          </li>

        </ul>
      </li><!-- End Etudiants Nav -->

      {% if user.groups.all.0.name == 'enseignant' %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Enseignants</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'enseignant' %}">
              <i class="bi bi-circle"></i><span>enseignants</span>
            </a>
          </li>
        </ul>
      </li><!-- End Enseignants Nav -->
      {% endif %}

      {% if user.groups.all.0.name == 'enseignant' %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#departement" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Départements</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="departement" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'departement' %}">
              <i class="bi bi-circle"></i><span>Départements</span>
            </a>
          </li>
        </ul>
      </li><!-- End Departement Nav -->
      {% endif %}

      <li class="nav-heading">Admin</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'blog' %}">
          <i class="bi bi-newspaper"></i>
          <span>Blog</span>
        </a>
      </li><!-- End Blog Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'temoignage' %}">
          <i class="bi bi-percent"></i>
          <span>Temoignages</span>
        </a>
      </li><!-- End Temoignage Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'partenaire' %}">
          <i class="bi bi-diagram-3"></i>
          <span>Partenaires</span>
        </a>
      </li><!-- End Partner Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->